body {
    background-color: rgb(42, 45, 50);
	color: rgba(255,255,255,.6);
}

a {
	color: #EB6B56;
}

a:hover {
	color: #D14841;
}

.jumbotron {
	background-color: #EB6B56;
	padding: 10px 0px;
}

.tag-default {
	background-color: rgba(255,255,255,.4);
}

h1,h2,h3,h4,h5,h6 {
	color: #FFF;
}

thead {
	color: rgba(255,255,255,.9);
}

.table {
	margin-bottom: 3rem;
}

.table-inverse {
  color: rgba(255,255,255,.5);
  background-color: #373a3c;
}

.table-inverse th,
.table-inverse td,
.table-inverse thead th {
  border-color: #282b30;
}

.table-inverse th {
	font-weight: 400;
}

.table-inverse.table-bordered {
  border: 1px solid #282b30;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.15);
}

.card {
	color: #AAA;
	background-color: rgba(0, 0, 0, 0.15);
	margin-bottom: 3rem;
}
.img-fluid {
	max-height: 150px;
	margin: 0 5px 5px 0;
}

.circular {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
}
	
code {
	color: #F37934;
}

.emoji-grid {
	margin-bottom: 3rem;
}

.details {
	color: rgba(255,255,255,.4);
	font-size: 16px;
	font-weight: 400;
}

.figure-caption {
	font-size: 16px;
	font-weight: 400;
}